<html>
	<head>
		<title>Grub Flix</title>  		
	</head>
	<body>
        <div ng-controller="modalcontrol">

            <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8 middle">
                    <form ng-submit="form()">
                                <div class="input-field">
                                  <input  style="padding-left: 150px" id="search" type="search" required ng-model="box.search">
                                  <label for="search"><i class="material-icons">Search Here:</i></label>
                                                        
                                </div> 
                    </form>
                    <button id='button' type="submit" class="btn btn-default #f4511e deep-orange darken-1" ng-click="randombutton('box')">Can't Decide? Click here!</button>
                     <div ng-show="show" class="progress #f4511e deep-orange darken-1">
                        <div class="indeterminate #ff9e80 deep-orange accent-1"></div>
                    </div>
                    <br>
                    
                    <div class="frame" ng-repeat="y in list">
                        <img class="pic" src="{{y.image_url}}" ng-click="open('large', y)">    
                    </div>     
                </div>
                <div class="col-sm-4"></div>
            </div>
            </div>
        </div>
    </body>
</html>